body {
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    
}


.wrap {
    margin: 0 auto;
    overflow: hidden;
    background: url(./../../images/Union.svg) no-repeat;

    .wrap__img {
        position: fixed;        
        bottom: 0;
        right: 0;
        z-index: 5;
    }
}


