
//config
@import 'config/reset';
@import 'config/variables';
@import 'config/mixins';
@import 'config/base';
@import 'config/container';

//app
@import 'components/app';


// components
@import 'components/sidebar';
@import 'components/header';
@import 'components/card';
@import 'components/audience';
@import 'components/reach';
@import 'components/gender';
@import 'components/geo';
@import 'components/gamburger';



//media 
@import 'config/media';



body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}


